<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MKNR Palengke Kiosk</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css')}}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand text-light" href="/">MKNR Palengke Kiosk</a>
          <div class="text-center text-light mt-4">
            <h3>Total Cost: <span class="text-danger" id="totalCost">0</span> Pesos</h3>
          </div>
          <div class="navbar-nav">
            <a class="nav-link text-light fs-5 fw-semibold" href="/">Home</a>
            <a class="nav-link text-light fs-5 fw-semibold" href="/orders">Orders</a>
            <!-- Placeholder -->
          </div>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer></footer>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
